.featured-products {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 35px;
    
    h4 {
        font-weight: $font-weight-bold;
        margin-bottom: 1rem;
    }

    .grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
        
    }
    @media (min-width: $width-s) {
        .grid {
            grid-template-columns: repeat(3, 1fr);
        }  
    }
}