.header {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(230,230,230);
    background: linear-gradient(90deg, rgba(230,230,230,1) 0%, rgba(245,245,245,1) 100%);
    padding-top: 100px;  
    position: relative;
    overflow: hidden;

    img {
        display: none;
    }

    .header-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: 50px;

        h1 {
            font-weight: $font-weight-extrabold;
            font-size: 2.5rem;
        }
    }
}


@media (min-width: $width-s) {

    .header {
        justify-content: space-between;

        .header-text {
            h1 {
                font-size: 3.5rem;
            }
        }
        img {
            display: block;
            width: 30vw;
        }
    }
}

//     #headerleftimg {
//         position: absolute;
//         display: none;
//         width: 150px;
//         z-index: 0;
//         left: 2rem;
//     }
//     #headerrightimg {
//         position: absolute;
//         display: none;
//         width: 150px;
//         z-index: 0;
//         right: 2rem;
//     }

//     .header-text {
//         display: flex;
//         flex-direction: column;
//         justify-content: center;
//         align-items: center;
//         margin-bottom: 5rem;
//         z-index: 1;

//         h1 {
//             font-weight: $font-weight-extrabold;
//             font-size: 3.5rem;
            
//         }
//         p {
//             margin-top: 1.5rem;
//             margin-bottom: 2rem;
//         }
//     }
// }